<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hakawi.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>826F393661769A1DBE8D0EE3B8C503DE6E989039</string>
				<key>dateExpires</key>
				<string>04/06/2022</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FS5Q6C42P9.tech.hakawi</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>FS5Q6C42P9</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>hakawi.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0e1c3e2e-ec63-41e8-9cc7-87b98d6a92ce</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: tech.hakawi</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FS5Q6C42P9</string>
				<key>name</key>
				<string>Bang Dinh</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
