<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hakawi.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6FC7130319D590FCB54ED79E3BF154BA4F31893E</string>
				<key>dateExpires</key>
				<string>04/06/2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FS5Q6C42P9.tech.hakawi</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>FS5Q6C42P9</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>hakawi.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a55eac9e-61c0-4b48-8202-2cd7b84cbce1</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: tech.hakawi</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FS5Q6C42P9</string>
				<key>name</key>
				<string>Bang Dinh</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
